.friends {
  box-sizing: border-box;
  background-color: rgb(220, 225, 233);
  min-height: 100vh;
  padding: 10px 7vh;
  margin: 0 auto;
}

.header {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  color: rgb(121, 31, 15);
  font-family: sans-serif;
}

.itemBox {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
