.message {
  display: block;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 20px 20px 40px 20px;
  margin: 10px auto;
  background: linear-gradient(rgba(94, 94, 94, 0.2), rgba(128, 128, 128, 0.2));
  border-radius: 15px;
  min-height: 6vw;
  min-width: 80%;
}

.message__date {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  float: left;
  padding: 20px 0 0 0;
}
