.main {
  display: flex;
  flex-direction: column;
}

.main__wallSection {
  padding: 6px;
}

.main__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  padding: 2px;
}

.main__textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-color: rgb(211, 201, 201);
  min-height: 15vh;
  min-width: 99%;
  max-width: 99%;
  border: none;
}

.main__btnSection {
  min-height: 3em;
  padding: 6px;
}

.main__btn {
  float: right;
  padding: 4px;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, font-size 0.2s;
}

.main__btn:hover {
  background-color: rgb(207, 205, 205);
}
.main__btn:active {
  font-size: 16px;
}
