.main {
  max-width: 1230px;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "header header"
    "nav main";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.main__routes {
  grid-area: main;
}
