.dialogs {
  display: flex;
  flex-wrap: nowrap;
}

.dialogs__item {
  min-width: 35%;
  padding: 0 4px;
  border-right: 2px solid rgb(90, 86, 86);
}

.dialogs__title {
  text-transform: uppercase;
  text-align: center;
}

.dialogs__dialog {
  text-align: center;
}

.dialogs__messages {
  width: 100%;
  padding: 0 4px;
  margin: 0 auto;
}

.dialogs__inputItem {
  display: block;
}

.dialogs__textarea {
  border: none;
  background-color: cornflowerblue;
}
