.nav {
  box-sizing: border-box;
  grid-area: nav;
  background-color: gray;
  padding: 16px 20px 16px 5px;
  margin: 10px 10px;
  max-width: 10rem;
  max-height: 26rem;
}

.item {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: text-shadow 0.1s, color;
}

.item:hover {
  text-shadow: 4px 8px 8px rgb(14, 12, 12);
}
.item:active {
  color: rgba(255, 255, 255, 0.4);
}

.active {
  color: rgb(29, 28, 26);
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: text-shadow 0.2s, color 0.2s;
}
