.nav {
  box-sizing: border-box;
  grid-area: nav;
  background-color: gray;
  padding: 5em 0.7em;
  margin: 10px 10px;
  max-width: 11rem;
  max-height: 380px;
}

.item {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: text-shadow 0.1s, border-bottom;
}

.item:hover {
  text-shadow: 4px 8px 8px rgb(27, 22, 22);
}
.item:active {
  border-bottom: 1px solid white;
}
