.friend {
  font-size: 16px;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
}

.item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.friend .item img {
  margin: 0 auto;
}

/* img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
} */

.fullName {
  padding-top: 8px;
  text-decoration: none;
  color: black;
  transition: text-decoration 0.2s;
}

.fullName:hover {
  text-decoration: underline;
}
